body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

.head {
    background-color: rgba(0, 0, 0, 0.3);
    height: 40px;
}

.top-menu-container {
    padding: 10px;
    margin-right: 60px;
    float: right;
    /*text-align: right;*/

}

.menu-item {
    display: inline-block;
    width: 80px;
    text-align: left;

}

.sub-menu-container {
    position: absolute;
    text-align: left;
    display: none;
    width: 100px;
    padding-top: 8px;
}

.sub-menu-item {
    color: white;
    border-collapse: collapse;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 8px;
}

.sub-menu-item:hover {
    color: lavender;
}

.menu-item:hover .sub-menu-container {
    display: block;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: lavender;
}

.second {
    padding-left: 40px;
    padding-right: 40px;
}

.header {
    background: url("background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 650px;
    color: white;
    text-align: center;
}

.main {
    margin-top: 35px;
}

.main_photo {
    border: 5px solid white;
    border-radius: 200px;
}

.greeting {
    font-size: 24px;
}

.main_link {
    padding: 8px;
    font-size: 15px;
    background-color: lavender;
    color: black;
    border: 0;
}

.main_link:hover {
    background: rgba(12, 7, 16, 0.3);
    color: white;
    border: 0.5px solid white;
}

.about_me {
    height: 350px;
    text-align: center;
    padding: 50px;
}

.general_info_about {
    display: flex;
}

.about_text {
    margin: 40px 40px 0 0;
    color: #727272;
}

.my_photo {
    width: 250px;
    height: 250px;
    float: right;
    border-radius: 200px;
}

.quote {
    height: 650px;
    background: url("background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
}

.quote h1 {
    font-style: italic;
    text-align: left;
    font-size: 40px;
    padding-top: 250px;
    padding-left: 80px;
    padding-right: 60px;
}

.quote h3 {
    font-size: 20px;
    text-align: right;
    padding-right: 80px;
}

.footer {
    height: 40px;
    text-align: center;
    margin-top: 16px;
    font-size: 12px;
}